<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="css/style.css">
    <title>Add a property</title>
</head>
<body>
    <div class="navbar">
        <a href="../views/index.html" class="logo"></a>
        <h1 class="title">MakersBnB</h1>
        <ul class="login-container">
            <li class="navbar-item">Sign Up</li>
            <li class="navbar-item">Login</li>
            <li class="hamburger-menu"></li>
        </ul>
    </div>

    <div class="container">
        <h2 class="header">List your space</h2>
        <form action="/add-space" method="post">
            <div class="list-space">
                <div class="section-one">
                    <div class="form-row">
                        <label for="property-name">Property name</label>
                        <input id="property-name" name="property-name" type="text">
                    </div>

                    <div class="form-row">
                        <label for="home-type">Home Type</label>
                        <select name="home-type" id="home-type">
                            <option value="Appartment">Apartment</option>
                            <option value="House">House</option>
                            <option value="Bed & Breakfast">Bed & Breakfast</option>
                        </select>
                    </div>
            
                    <div class="form-row">
                        <label for="room-type">Room Type</label>
                        <select name="room-type" id="room-type">
                            <option value="Entire home/apartment">Entire home/apartment</option>
                            <option value="Private room">Private room</option>
                            <option value="Shared room">Shared room</option>
                        </select>
                    </div>
                    
                    <div class="form-row">
                        <label for="accomodates">Accomodates</label>
                        <input id="accomodates" name="accomodates" type="number">
                    </div>
            
                    <div class="form-row">
                        <label for="location">Location</label>
                        <input id="location" name="location" type="text">
                    </div>
                </div>

                <div class="section-two">
                    <div class="form-row">
                        <label for="beds">Number of beds</label>
                        <input id="beds" name="beds" type="number">
                    </div>
                    
                    <div class="form-row">
                        <label for="price">Price per night</label>
                        <input id="price" name="price" type="number">
                    </div>
                
                    <h3 class="dates-title">Dates Available</h3>
                    <div class="form-row">
                        <label for="date-from">From</label>
                        <input name="date-from" type="date">
                    </div>
                    <div class="form-row">
                        <label for="date-to">To</label>
                        <input name="date-to" type="date">
                    </div>
                </div>
            </div>
            <div class="amenities-checkbox">
                <div class="form-row">
                    <label for="wifi">Wifi</label>
                    <input class="checkbox" type="checkbox" name="wifi" id="wifi">
                </div>

                <div class="form-row">
                    <label for="kitchen">Kitchen</label>
                    <input class="checkbox" type="checkbox" name="kitchen" id="kitchen">
                </div>

                <div class="form-row">    
                    <label for="heating">Heating</label>
                    <input class="checkbox" type="checkbox" name="heating" id="heating">
                </div>
                <div class="form-row">
                    <label for="parking">Parking</label>
                    <input class="checkbox" type="checkbox" name="parking" id="parking">
                </div>
            </div>
            <div class="property-image-container">
                <div class="form-row">
                    <label for="property-img">Property Image Link</label>
                    <input type="text" name="property-img" id="property-img">
                </div>
            </div>
            <div class="submit-button-container">
                <button class="submit-button" type="submit" name="continue">
                    Continue
                </button>
            </div>
        </form>
    </div>
</body>
</html>