.navbar {
   position: relative;
   height: 100px;
   width: 100%;
   background-color: #212121;
   z-index: 100;
}
.login-container {
    position: relative;
    list-style-type: none;
    float: right;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    color: #f1f1f1;
    width: 250px;
    margin-right: 100px;
    margin-top: 40px;
    font-size: 20px;
    font-weight: 100;
    cursor: pointer;
 }
 .hamburger-menu {
    height: 1px;
    width: 25px;
    background-color: #f1f1f1;
    margin-top: 12px;
 }
 .hamburger-menu::before {
    content: ' ';
    position: absolute;
    height: 1px;
    width: 25px;
    background-color: #f1f1f1;
    margin-top: -5px;
 }
 .hamburger-menu::after {
    content: ' ';
    position: absolute;
    height: 1px;
    width: 25px;
    background-color: #f1f1f1;
    margin-top: 5px;
 }
 .hamburger-menu:hover {
    border-bottom: none;
 }
 .navbar-item:hover {
    padding-bottom: 31px;
    border-bottom: 4px solid #f1f1f1;
 }

body {
    font-family: 'Circular', Roboto, Helvetica Neue, sans-serif;
    margin: 0;
    padding: 0;
}

.title {
    position: absolute;
    font-weight: 400;
    letter-spacing: 3px;
    margin: 30px 42%;
    color: #fff;
 }

 .labels{
    text-align: right;
    font-family: 'Circular', Roboto, Helvetica Neue, sans-serif;
    font-size: 17px;
    color: white;
    margin: 10px 0 0 10px;
    position: flex;
    width: 300px;
    height: 5px;
    padding-bottom: 20px;
 }

 .submit {
     position: relative;
     margin-top: 10px;
     margin-left: 170px;
    font-family: 'Circular', Roboto, Helvetica Neue, sans-serif;
 }

 .data-capture {
    float: right;
    justify-content: right;
    position: absolute;
    margin-left: -50px;
    width: 100px;
    height: 200px;
 }

 .login-box {
     justify-content: row;
    text-align: center;
    font-family: 'Circular', Roboto, Helvetica Neue, sans-serif;
    color: white;
    margin: 100px auto;
    background-color: #212121;
    position: relative;

    width: 300px;
    height: 200px;
    border: 2px solid #000;
    border-radius: 10px;
 }

