<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="css/style.css">
    <title>Profile - Makers AirBnB</title>
</head>

<body>
    <div class="navbar">
        <a href="/" class="logo"></a>
        <h1 class="title">Profile - MakersBnB</h1>
        <ul class="login-container">
            <% if @username.nil? %>
            <li class="navbar-item"><a href="/signup">Sign Up</a></li>
            <li class="navbar-item"><a href="/login">Login</a></li>
            <% else %>
            <li class="navbar-item"><%= @username %></li>
            <li class="navbar-item"><a href="/logout">Log Out</a></li>
            <% end %>
            <li class="hamburger-menu"></li>
        </ul>
    </div>
    <div class="container">
        <div>
            <h2 class="header">Hi <%= @username %>!</h2>
            <h4>Your properties</h4>
            <a href="/add-property" class="property-button">Add new property</a>
            <ul>
            <% @properties.each do |property| %>
                <li><%= property["property_name"] %></li>
            <% end %>
            </ul>
        </div>
        <div class="push"></div>
        <footer class="footer">
            <ul class="footer-list">
                <li class="footer-list-item">
                    © M B B
                </li>
            </ul>
        </footer>
</body>

</html>
